<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Dynamic Template" />
    <title>Dynamic Template</title>
  </head>
  <body>
    <h1>Dynamic Template</h1>
    <p>Date using EJS variables: <%= date %></p>
    <p>
      This will also reveal the machine's timezone (generally should be Etc/UTC)
    </p>
    <p><a href="/">View a static page</a></p>
    <p><a href="/boilerplate">View a dynamic API endpoint</a></p>
  </body>
</html>
